.expenses-area label,
.income-area label {
  width: 90px;
}
.save-area input {
  width: 80px;
}
#oops-msg {
  display: none;
}
#nothingShow {
  display: none;
}
#save-amount,
#remaining-balance,
#total-expenses,
#balance {
  color: #494949f8;
}
@media (max-width: 370px) {
  .tracker-wrapper {
    margin-top: 30px;
  }
  .gap-3 {
    gap: 5px !important;
  }
  .d-flex {
    flex-wrap: wrap;
  }
}
